**/.*.sw[po]
.session.vim
.DS_Store
.bin
.console-history
.dockerignore
.editorconfig
.env
.env-test
.env.*
.git
.gitignore
.node-version
.vscode
lets_encrypt_bundle_ca.pem
bin/push-latest
bin/staging
bin/release
CHANGELOG.md
Dockerfile
README.md
LICENSE
app/
docker-compose.yml
docs
mock
newrelic_agent.log
node_modules
npm-debug.log
pdf_process
public/images/
test/
upload
