app/
app_*/
bin/console
bin/workers
config/**/*.js
!config/index.js
docs/
libs/
mock/
node_modules/
pdf_process/
public/
templates/
test/
upload/
views/

/batch.js
/gulpfile.js
/index.js
/newrelic.js
